@using static AnimeDbWebApp.Common.GeneralConstants
@model AnimeImportViewModel

<style>div{margin-bottom:0.8em}</style>

@if (ViewData.ContainsKey("AddAnime"))
{
	<h1 class="py-4 text-secondary">Anime Added</h1>
	ViewData.Remove("AddAnime");
}

<h2 class="py-4">Add New Anime</h2>

<form asp-action="Add" method="post" class="container-fluid col-sm-4 mb-4">
	<div>
		<label for="PosterUrl">Link for poster</label>
		<input asp-for="PosterUrl" class="form-control" />
		<span asp-validation-for="PosterUrl" class="text-danger"></span>
	</div>
	<div>
		<label for="Title">Anime Title</label>
		<input asp-for="Title" class="form-control" />
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div>
		<label for="TitleEnglish">Title in english</label>
		<input asp-for="TitleEnglish" class="form-control" />
		<span asp-validation-for="TitleEnglish" class="text-danger"></span>
	</div>
	<div>
		<label for="TitleJapanese">Title in japanese</label>
		<input asp-for="TitleJapanese" type="month" class="form-control" />
		<span asp-validation-for="TitleJapanese" class="text-danger"></span>
	</div>
	<div>
		<label for="Episodes">Episodes count</label>
		<input asp-for="Episodes" class="form-control" />
		<span asp-validation-for="Episodes" class="text-danger"></span>
	</div>
	<div>
		<label for="Duration">Duration(minutes per episode)</label>
		<input asp-for="Duration" class="form-control" />
		<span asp-validation-for="Duration" class="text-danger"></span>
	</div>
	<div>
		<label for="SourceId">Source</label>
		<select asp-for="SourceId" class="form-control" asp-items="@(new SelectList(Model.SourceList, "Id", "Name"))"></select>
		<span asp-validation-for="SourceId" class="text-danger"></span>
	</div>
	<div>
		<label for="TypeId">Type</label>
		<select asp-for="TypeId" class="form-control" asp-items="@(new SelectList(Model.TypeList, "Id", "Name"))">
			<option></option>
		</select>
		<span asp-validation-for="TypeId" class="text-danger"></span>
	</div>
	<div>
		<label for="Status">Airing status</label>
		<select asp-for="Status" class="form-control" asp-items="@(new SelectList(Model.StatusEnums, "Id", "Name"))"></select>
		<span asp-validation-for="Status" class="text-danger"></span>
	</div>
	<div>
		<label for="StartDate">Airing start date (format: @GeneralDateTimeFormat)</label>
		<input asp-for="StartDate" class="form-control" />
		<span asp-validation-for="StartDate" class="text-danger"></span>
	</div>
	<div>
		<label for="EndDate">Airing end date (format: @GeneralDateTimeFormat)</label>
		<input asp-for="EndDate" class="form-control" />
		<span asp-validation-for="EndDate" class="text-danger"></span>
	</div>
	<div>
		<label for="Season">Airing Season</label>
		<select asp-for="Season" class="form-control" asp-items="@(new SelectList(Model.SeasonEnums, "Id", "Name"))">
			<option></option>
		</select>
		<span asp-validation-for="Season" class="text-danger"></span>
	</div>
	<div>
		<label for="Rating">Rating</label>
		<input asp-for="Rating" class="form-control" />
		<span asp-validation-for="Rating" class="text-danger"></span>
	</div>
	<div>
		<label for="Score">Score</label>
		<input asp-for="Score" class="form-control" />
		<span asp-validation-for="Score" class="text-danger"></span>
	</div>
	<div>
		<label for="Rank">Rank</label>
		<input asp-for="Rank" class="form-control" />
		<span asp-validation-for="Rank" class="text-danger"></span>
	</div>
	<div>
		<label for="Synopsis">Synopsis</label>
		<textarea asp-for="Synopsis" class="form-control"></textarea>
		<span asp-validation-for="Synopsis" class="text-danger"></span>
	</div>
	<div>
		<label for="Background">Background</label>
		<textarea asp-for="Background" class="form-control"></textarea>
		<span asp-validation-for="Background" class="text-danger"></span>
	</div>
	<div>
		<label for="Url">Mal link</label>
		<input asp-for="Url" class="form-control" />
		<span asp-validation-for="Url" class="text-danger"></span>
	</div>
	<div>
		<label for="TrailerUrl">Link to trailer</label>
		<input asp-for="TrailerUrl" class="form-control" />
		<span asp-validation-for="TrailerUrl" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary mt-2">Add Anime</button>
</form>