@using static AnimeDbWebApp.Common.GeneralConstants
@model ProducerImportViewModel

<style>
	div {
		margin-bottom: 0.8em
	}</style>

@if (Model == null)
{
	<h1 class="py-5 text-danger">There is no Producer With that Id</h1>
}
else
{
	<h2 class="py-4">Edit Producer</h2>

	<form asp-action="Edit" method="post" class="container-fluid col-sm-4 mb-4">
		<input asp-for="Id" type="hidden" value="@Model.Id" class="form-control" />
		<div>
			<label for="ImgUrl">Link for poster</label>
			<input asp-for="ImgUrl" class="form-control" />
			<span asp-validation-for="ImgUrl" class="text-danger"></span>
		</div>
		<div>
			<label for="Name">Producer Name</label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div>
			<label for="JpName">Producer Japanesse Name</label>
			<input asp-for="JpName" class="form-control" />
			<span asp-validation-for="JpName" class="text-danger"></span>
		</div>
		<div>
			<label for="Established">Producer established date (format: @GeneralDateTimeFormat)</label>
			<input asp-for="Established" class="form-control" />
			<span asp-validation-for="Established" class="text-danger"></span>
		</div>
		<div>
			<label for="About">About Producer</label>
			<textarea asp-for="About" class="form-control"></textarea>
			<span asp-validation-for="About" class="text-danger"></span>
		</div>
		<div>
			<label for="Url">Producer mal link</label>
			<input asp-for="Url" class="form-control" />
			<span asp-validation-for="Url" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary mt-2">Add Producer</button>
	</form>
}