@{
	ViewData["Title"] = "Admin Panel";
}

<div class="container-fluid row col-sm-10 justify-content-center">
	<div class="d-flex flex-column">
		<h1 class="mb-4">Anime</h1>
		<a asp-area="Admin" asp-controller="AnimeAdmin" asp-action="Add" class="btn btn-secondary">Add</a>
		<a asp-area="Admin" asp-controller="AnimeAdmin" asp-action="Remove" class="btn btn-secondary">Remove</a>
		<form asp-area="Admin" asp-controller="AnimeAdmin" asp-action="Edit" class="row mx-0">
			<input type="number" name="id" style="max-width:100px" />
			<button type="submit" class="btn btn-secondary text-dark" style="width:100px">Edit By Id</button>
		</form>
		<a asp-area="Admin" asp-controller="AnimeAdmin" asp-action="AddFromApi" class="btn btn-secondary">Add From Site</a>
	</div>
</div>